<div
  class="card text-white bg-info mb-3"
  style="margin-top: 50px"
  id="register"
>
  <div class="card-header"><h3>Register</h3></div>
  <div class="card-body">
    <h4 class="card-title">New user?</h4>
    <p class="card-text">Please fill out the form below to register.</p>

    <div class="form-group">
      <label for="exampleInputEmail12">Email address</label>
      <input
        type="email"
        [(ngModel)]="user.email"
        class="form-control"
        id="exampleInputEmail1"
        aria-describedby="emailHelp"
        placeholder="Enter email"
        ngDefaultControl
      />
      <small id="emailHelp" class="form-text text"
        >We'll never share your email with anyone else.</small
      >
    </div>
    <div class="form-group">
      <label for="exampleInputPassword12">Password</label>
      <input
        type="password"
        [(ngModel)]="user.password"
        class="form-control"
        id="exampleInputPassword1"
        placeholder="Password"
        ngDefaultControl
      />
    </div>

    <div class="form-group">
      <label for="firstName">First name</label>
      <input
        type="text"
        [(ngModel)]="user.name"
        class="form-control"
        id="firstName"
        placeholder="First name"
        ngDefaultControl
      />
    </div>

    <div class="form-group">
      <label for="lastName">Last name</label>
      <input
        type="text"
        class="form-control"
        [(ngModel)]="user.lastName"
        id="lastName"
        placeholder="Last name"
        ngDefaultControl
      />
    </div>

    <div class="form-group">
      <label for="city">City</label>
      <input
        type="text"
        [(ngModel)]="user.city"
        class="form-control"
        id="city"
        placeholder="City"
        ngDefaultControl
      />
    </div>
    <a
      type="button"
      (click)="registerUserFromService()"
      class="btn btn-primary btn-lg"
      [(ngModel)]="user.city"
      style="text-decoration: none"
      ngDefaultControl
    >
      Sign Up</a
    >
    <div id="anime" *ngIf="clientMessage.message.length > 0">
      {{ clientMessage.message }}
    </div>
  </div>
</div>
