<app-navbar></app-navbar>
<div class="jumbotron">
    <img class="image-center" style="width: 100%" src="{{ image }}" />
    <h1 style = "position:fixed; display:none; width:100%; height:100%; " class="display-3">Welcome Brockton </h1>
    <p class="lead">Welcome to TV Show Assist, where you can share your favorite Movies and connect based on your likes</p>
    <hr class="my-4">
    <p>Join and tell your friends to join</p>
    <h1>{{this.user?.name}} </h1>
    <p class="lead">
      <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
    </p>

  </div>
